:root {
  --text-color: #3b3b3b;
  --secondary-text-color: #737373;
  --black: #3b3b3b;
  --gray: #f8f8f8;
  --white: #fafafa;
  --primary: #eb5e28;
  --primary-light: #fa8659;
  --primary-dark: #d45523;
  --secondary: #2a9d8f;

  --font-size: 18px;
  --font-size-sm: 0.85rem;
  --font-size-md: 1.5rem;
  --font-size-lg: 2rem;
  --font-size-xl: 3rem;
  --font-family-primary: 'Poppins';
  --font-regular: 400;
  --font-bold: 600;
  --font-extrabold: 800;

  --spacer: 10px;

  --space-xl: calc(var(--spacer) * 10);
  --space-lg: calc(var(--spacer) * 8);
  --space-md: calc(var(--spacer) * 6);
  --space: calc(var(--spacer) * 4);
  --space-sm: calc(var(--spacer) * 3);
  --space-xs: calc(var(--spacer) * 2);
  --space-xxs: calc(var(--spacer));

  --section-spacing: calc(var(--spacer) * 15);
  --section-spacing-sm: calc(var(--spacer) * 12);

  --container-width: 1200px;

  --navbar-height: 80px;
}
*,
*:after,
*:before {
  box-sizing: inherit;
}

html {
  font-size: var(--font-size);
  font-family: var(--font-family-primary), sans-serif;
  color: var(--text-color);
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: inherit;
}

p {
  line-height: 1.75;
}

ul {
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: var(--font-size);
  font-weight: var(--font-bold);
  margin-top: 0;
  margin-bottom: 0;
}

p {
  margin-top: 0;
  margin-bottom: 0;
}

/* ------------------------- CONTAINERS ------------------------- */

.container {
  max-width: var(--container-width);
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 1200px) {
  .container {
    padding-left: var(--space-xs);
    padding-right: var(--space-xs);
  }
}

/* ------------------------- SECTION ------------------------- */

.section {
  margin-bottom: var(--section-spacing);
}

.section__title {
  line-height: 0.75em;
  font-size: var(--font-size-xl);
  margin-bottom: var(--space-lg);
}

@media screen and (max-width: 576px) {
  .section {
    margin-bottom: var(--section-spacing-sm);
  }

  .section__title {
    font-size: var(--font-size-lg);
    margin-bottom: var(--space-md);
  }
}

/* ------------------------- BUTTONS ------------------------- */

.button {
  font-size: var(--font-size-sm);
  font-family: var(--font-family-primary);
  font-weight: var(--font-bold);
  text-transform: uppercase;
  border-radius: 0;
  padding: var(--space-xxs) var(--space-xs);
  border: solid;
  cursor: pointer;
  transition: background-color 0.2s;
}

.button--primary {
  background-color: var(--primary);
  border: 1px solid var(--primary);
  color: var(--white);
}

.button--primary:hover {
  background-color: var(--primary-dark);
  border: 1px solid var(--primary-dark);
}

.button--primary-outline {
  background-color: transparent;
  border: 1px solid var(--primary);
  color: var(--primary);
}

.button--primary-outline:hover {
  background-color: var(--primary);
  color: var(--white);
}

/* ------------------------- BUTTON-GROUP ------------------------- */

.button-group {
  display: flex;
  flex-wrap: wrap;
  /* FAKE GAP on container */
  margin-top: calc(-1 * var(--space-xs));
  margin-left: calc(-1 * var(--space-xs));
}

.button-group__button {
  flex: 0 0 auto;
  /* FAKE GAP on element */
  margin-top: var(--space-xs);
  margin-left: var(--space-xs);
}

/* ------------------------- UTILITIES ------------------------- */

.color-primary {
  color: var(--primary);
}

.color-secondary-text {
  color: var(--secondary-text-color);
}

/* ------------------------- NAVBAR ------------------------- */

.navbar {
  height: var(--navbar-height);
}

.navbar__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: inherit;
}

.navbar__logo {
  font-weight: var(--font-extrabold);
  font-size: var(--font-size-lg);
  display: flex;
  align-items: center;
}

.navbar__nav-link {
  font-weight: var(--font-bold);
  text-transform: uppercase;
}

@media screen and (max-width: 576px) {
  .navbar__container {
    flex-direction: column;
  }
}

/* ------------------------- NAV ------------------------- */

.nav__link {
  display: inline;
  font-size: var(--font-size-sm);
}

.nav__link:hover {
  color: var(--primary);
  transition: color 0.2s;
}

.nav__link:not(:first-child) {
  padding-left: var(--space-sm);
}

@media screen and (max-width: 576px) {
  .navbar__logo {
    margin-top: var(--space-xs);
  }
  .navbar__nav {
    margin-top: var(--space-xs);
  }
}

/* ------------------------- HERO ------------------------- */

.hero {
  height: calc(100vh - var(--navbar-height));
  max-height: 1080px;
  display: flex;
  align-items: center;
}

.hero__container {
  width: 100%;
}

/* .hero::before {
  content: '';
  height: 700px;
  width: 700px;
  z-index: -10;
  border-radius: 50%;
  position: absolute;
  top: -8%;
  left: -20%;
  filter: blur(30px);
  background-color: var(--secondary);
  opacity: 80%;
}

.hero::after {
  content: '';
  height: 700px;
  width: 700px;
  z-index: -10;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  right: -15%;
  filter: blur(30px);
  background-color: var(--primary);
} */

.hero__br--mobile {
  display: none;
}

.hero__text {
  line-height: 0.75em;
}

.hero__text:not(:nth-last-child(2)) {
  margin-bottom: var(--space-sm);
}

.hero__text--big {
  font-size: var(--font-size-xl);
  font-weight: var(--font-extrabold);
}

.hero__text--medium {
  margin-top: var(--space-md);
  margin-bottom: var(--space-sm);
  font-size: var(--font-size-md);
}

@media screen and (max-width: 992px) {
  .hero__text {
    line-height: 1;
  }

  .hero__text:not(:nth-last-child(2)) {
    margin-bottom: var(--space-xs);
  }
}

@media screen and (max-width: 576px) {
  .hero__text--big {
    font-size: calc(0.75 * var(--font-size-xl));
  }

  .hero__text--medium {
    margin-top: var(--space);
    font-size: var(--font-size);
  }
}

/* ------------------------- PROJECT-CARD ------------------------- */
.projects {
  margin-top: var(--space-sm);
}

/* ------------------------- PROJECT-CARD ------------------------- */

.project-card {
  display: flex;
}

.project-card:nth-child(even) {
  flex-direction: row-reverse;
}

.project-card:not(:last-child) {
  margin-bottom: var(--space-xl);
}

.project-card__info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.project-card__upper-section {
  margin-bottom: var(--space-sm);
}

.project-card__title {
  font-size: var(--font-size-lg);
  line-height: 0.75em;
  margin-top: var(--space-xxs);
}

.project-card__category {
  font-size: var(--font-size-sm);
  color: var(--secondary);
  text-transform: uppercase;
  font-weight: var(--font-bold);
  margin-top: var(--space-xs);
  margin-bottom: var(--space-xs);
}

.project-card__image {
  object-fit: cover;
  width: 720px;
  height: 480px;
}

.project-card:nth-child(odd) .project-card__image {
  margin-right: var(--space-sm);
}

.project-card:nth-child(even) .project-card__image {
  margin-left: var(--space-sm);
}

.project-card__divider {
  margin-top: var(--space-sm);
  margin-bottom: var(--space-xs);
  height: 1px;
  background-color: #ccc;
  border: none;
}

.project-card__technologies {
  list-style: none;
  line-height: 0.75em;
  color: var(--secondary-text-color);
  margin-bottom: var(--space-xxs);
  font-size: var(--font-size-sm);
  text-transform: uppercase;
}

.project-card__technology {
  display: inline;
}

.project-card__technology:not(:first-child) {
  margin-left: var(--space-xs);
}

@media screen and (max-width: 1200px) {
  .projects__cards-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: var(--space-xs);
    row-gap: var(--space-xl);
  }

  .project-card {
    display: block;
  }

  .project-card:not(:last-child) {
    margin-bottom: 0;
  }

  .project-card__image {
    width: 100%;
    height: 320px;
    margin-bottom: var(--space-sm);
  }

  .project-card:nth-child(odd) .project-card__image {
    margin-right: 0;
  }

  .project-card:nth-child(even) .project-card__image {
    margin-left: 0;
  }
}

@media screen and (max-width: 992px) {
  .projects__cards-container {
    display: block;
  }

  .project-card__image {
    width: 100%;
    height: 480px;
  }

  .project-card:not(:last-child) {
    margin-bottom: var(--space-lg);
  }
}

@media screen and (max-width: 768px) {
  .project-card__image {
    width: 100vw;
    margin-left: calc(-1 * var(--space-xs)) !important;
    margin-right: calc(-1 * var(--space-xs)) !important;
  }
}

@media screen and (max-width: 576px) {
  .project-card__image {
    height: 360px;
  }

  .project-card__title {
    font-size: var(--font-size-md);
  }

  .project-card__divider {
    margin-left: calc(-1 * var(--space-xs));
    margin-right: calc(-1 * var(--space-xs));
  }
}

/* ------------------------- ABOUT ------------------------- */

.about {
  background-color: var(--gray);
  padding-top: var(--section-spacing);
  padding-bottom: var(--section-spacing);
}

@media screen and (max-width: 576px) {
  .about {
    padding-top: var(--section-spacing-sm);
    padding-bottom: var(--section-spacing-sm);
  }
}

/* ------------------------- CONTATTI ------------------------- */

.contatti {
  text-align: center;
}

.contatti__container {
  width: 40%;
}

.contatti__paragraph {
  margin-bottom: var(--space-sm);
}

@media screen and (max-width: 1200px) {
  .contatti__container {
    width: 60%;
  }
}

@media screen and (max-width: 768px) {
  .contatti__container {
    width: inherit;
  }
}

/* ------------------------- FOOTER ------------------------- */

.footer {
  margin-top: var(--space-md);
  margin-bottom: var(--space-md);
}

.footer__container {
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 576px) {
  .footer {
    text-align: center;
  }
  .footer__container {
    flex-direction: column-reverse;
    justify-content: space-between;
  }

  .footer__nav {
    margin-bottom: var(--space-sm);
  }
}
